[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailgo
Exec=harbour-sailgo
Name=SailGo

[X-Sailjail]
OrganizationName=de.poetaster
ApplicationName=harbour-moremahjong
